/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --accent-color: #333;
  --black-color: #000;
  --dark-color: #111;
  --gray-color-100: #F9F7F5;
  --gray-color-200: #E1E1E1;
  --gray-color-300: #D1D1D1;
  --gray-color-400: #ced4da;
  --gray-color-500: #adb5bd;
  --dark-gray-color: #474341;
  --bs-light-rgb: rgba(255, 255, 255, 1);
  --light-color: #fff;
  --bs-light-rgb: rgba(255, 255, 255, 1);
  --primary-color: #e1c4ff;
  --swiper-theme-color: #807E7C !important;
}

/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

/* Fonts */
:root {
  --body-font: "IBM Plex Sans", sans-serif;
  --heading-font: "Josefin Sans", serif;
}

.justify {
  text-align: justify;
}
/*----------------------------------------------*/
/* 1 GENERAL TYPOGRAPHY */
/*----------------------------------------------*/

/* 1.1 General Styles
/*----------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--accent-color);
  margin: 0;
}

ul.inner-list li {
  font-size: 1.2em;
  color: var(--dark-gray-color);
}

a {
  color: var(--dark-gray-colo);
  text-decoration: none;
  transition: 0.3s color ease-out;
}

a.dark {
  color: var(--dark-color)
}

a.stretched-link {
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--dark-color);
}

p.light {
  color: var(--light-color);
}

span.light {
  color: var(--light-color);
}

svg.light {
  color: var(--light-color);
}

table.light tr {
  color: var(--light-color);
}

b,
strong {
  font-weight: bold;
}

.highlight {
  background: var(--dark-color);
  color: var(--light-color);
}

/*------------ Background Color -----------*/
.bg-gray-100 {
  background: var(--gray-color-100);
}

.bg-black {
  /* --bs-bg-opacity: 1; */
  background-color: var(--dark-color) !important;
}

/*------------ Border Radius -----------*/
.border-rounded-10 {
  border-radius: 10px;
}

/* - Section Padding
--------------------------------------------------------------*/
.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}

.padding-xlarge {
  padding-top: 10em;
  padding-bottom: 10em;
}

/* - Section margin
--------------------------------------------------------------*/
.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}

.margin-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-large {
  margin-top: 7em;
  margin-bottom: 7em;
}

.margin-xlarge {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {

  .margin-small,
  .margin-medium,
  .margin-large {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* - Section Title
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  line-height: 1;
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
  color: var(--light-color);
}

h1.heading {
  font-size: 6.5em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.6em;
}

/* - Section width
--------------------------------------------------------------*/
.container-md {
  max-width: 1460px;
}

.container-lg {
  max-width: 1750px;
}

/*--------------------------------------------------------------
/** 2.10 Buttons
--------------------------------------------------------------*/
/* - Button Sizes
------------------------------------------------------------- */
.btn.btn-small {
  padding: 0.8em 1.8em;
  font-size: 0.85em;
}

.btn.btn-medium {
  padding: 1.2em 2.7em;
  font-size: 1em;
}

.btn.btn-large {
  padding: 0.8em 4.6em;
  font-size: 1.6em;
}

.btn.btn-full {
  display: block;
  margin: .85em 0;
  width: 100%;
  letter-spacing: 0.12em;
}

/* - Button Shapes
------------------------------------------------------------- */
.btn.btn-rounded,
.btn.btn-rounded::after {
  border-radius: 6px;
}

.btn.btn-pill,
.btn.btn-pill::after {
  border-radius: 2em;
}

/* button outline */
.btn.btn-outline-dark,
.btn.btn-outline-light,
.btn.btn-outline-accent {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
}

.btn.btn-outline-dark:hover::after,
.btn.btn-outline-light:hover::after {
  background-color: transparent;
}

.btn.btn-outline-dark {
  border-color: var(--black-color);
  color: var(--dark-color);
  transition: 0.5s ease-in-out;
}

.btn.btn-outline-dark:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-outline-light {
  border-color: rgba(255, 255, 255, 1);
  color: var(--light-color);
  transition: 0.5s ease-in-out;
}

.btn.btn-outline-light:hover {
  color: var(--dark-color);
}

.btn.btn-outline-gray {
  background: transparent;
  border-color: var(--gray-color-200);
  color: var(--dark-color);
}

.btn.btn-outline-gray:hover {
  color: var(--light-color) !important;
}

.btn.btn-outline-accent {
  background: transparent;
  border-color: var(--accent-color);
  color: var(--dark-color);
}

.btn.btn-outline-accent:hover {
  border-color: var(--dark-color);
  color: var(--dark-color) !important;
}

.btn-check:active+.btn-outline-light:focus,
.btn-check:checked+.btn-outline-light:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus,
.btn-outline-light:active:focus {
  box-shadow: none;
}

.btn-check:active+.btn-outline-dark:focus,
.btn-check:checked+.btn-outline-dark:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus,
.btn-outline-dark:active:focus {
  box-shadow: none;
}

/* - Buttons Color Scheme
------------------------------------------------------------- */
.btn.btn-normal {
  text-decoration: underline;
  border: none;
  font-weight: 800;
}

.btn.btn-normal:hover,
.btn.btn-normal:focus {
  text-decoration: none;
  box-shadow: none;
}

.btn.btn-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
  border: none;
}

.btn.btn-accent:hover {
  color: var(--light-color) !important;
  background-color: var(--primary-color);
}

.btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}

.btn.btn-black:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
  transition: 0.5s ease-in-out;
}

.btn.btn-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-dark {
  color: var(--light-color);
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  transition: 0.5s ease-in-out;
}

.btn-dark:hover {
  color: var(--dark-color);
}

/* - Buttons Aligns
------------------------------------------------------------- */
.btn-left {
  text-align: left;
  display: block;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-right {
  text-align: right;
  display: block;
}

/*----------------------------------------------*/
/* 2 SITE STRUCTURE */
/*----------------------------------------------*/

/* - Pattern Overlay
------------------------------------------------------------- */
.pattern-overlay.pattern-right {
  top: -190px;
  right: -70px;
  z-index: -1;
}

.pattern-overlay.pattern-left {
  top: 0;
  left: 0;
  z-index: -1;
}

/* - Button Hover Effects
------------------------------------------------------------- */
.btn.btn-arrow,
button.btn-arrow {
  color: var(--light-color);
  letter-spacing: 1.5px;
  overflow: hidden;
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
}

.btn.btn-arrow:hover,
button.btn-arrow:hover {
  color: var(--light-color);
}

.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}

.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}

.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}

.btn-arrow svg {
  position: absolute;
  width: 0.9em;
  right: 0;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}

.btn-arrow:hover svg {
  opacity: 1;
  right: -1.8rem;
}

/* - Button Hover Effects 2
------------------------------------------------------------- */
.btn.btn-outline-arrow.light-hover {
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.btn.btn-outline-arrow.dark-hover {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.btn.btn-outline-arrow span {
  display: inline-block;
  transition: all 300ms ease-out;
  will-change: transform;
}

.btn.btn-outline-arrow:hover span {
  transform: translate3d(-7px, 0, 0);
}

.btn.btn-outline-arrow svg {
  position: absolute;
  top: 32px;
  right: 21px;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn.btn-outline-arrow:hover svg {
  opacity: 0;
  right: 0;
}

/* - Text hover Effects
------------------------------------------------------------- */
.text-hover ul li>a,
.text-hover a,
a.text-hover {
  position: relative;
  transition: 0.3s ease-out;
}

.text-hover li a.nav-link:after,
.text-hover li a:after,
.text-hover a:after,
a.text-hover:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-out;
  border-bottom: 1px solid var(--dark-color);
}

.text-hover.light-border li a.nav-link:after,
.text-hover.light-border li a:after,
.text-hover.light-border a:after,
a.text-hover.light-border:after {
  border-bottom: 1px solid var(--light-color);
}

.text-hover.gray-border li a:after,
.text-hover.gray-border a:after {
  border-bottom: 1px solid var(--gray-color-400);
}

.text-hover a.active:after,
.text-hover .active a:after,
.text-hover.active a.nav-link:after,
.text-hover a.nav-link:hover:after,
.text-hover li a:hover:after,
.text-hover a:hover:after,
a.text-hover:hover:after,
.text-hover li a:focus:after,
.text-hover a:focus:after,
a.text-hover:focus:after {
  width: 100%;
}

.text-hover li a.border-0:after,
.text-hover.border-0 li a:after {
  border: none;
}

.text-hover.dropdown-menu li a:hover {
  padding-left: 23px;
}

/* - Header
------------------------------------------------------------- */
.site-header {
  width: 100%;
  z-index: 10;
}

#navbar a.nav-link:hover,
#navbar a.nav-link:focus {
  color: var(--dark-color);
}

.navbar-toggler svg.navbar-icon {
  width: 40px;
  height: 40px;
  fill: var(--dark-color);
  outline: none;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: var(--accent-color) !important;
}

@media only screen and (max-width: 990px) {
  #header-nav .btn-box {
    margin-top: 10%;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }
}

/*------------ Offcanvas -------------- */
#header-nav .offcanvas.show {
  z-index: 9999;
  background-color: var(--gray-color-100);
}

.offcanvas.show .nav-item a.nav-link,
#header-nav .offcanvas.show .nav-item a:hover {
  font-size: 2em;
  color: var(--dark-color);
}

.offcanvas-header .btn-close:focus {
  box-shadow: none;
}

#header-nav .offcanvas.show .nav-item a.dropdown-item:hover {
  font-size: 1em;
}

.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset !important;
  padding-left: 20px;
}

@media (min-width: 1399px) {
  #header .navbar-expand-lg {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  #header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  #header .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 990px) {

  #navbar a.nav-link:hover,
  #navbar a.nav-link:focus {
    color: var(--accent-color);
  }

}

/* - Intro
------------------------------------------------------------- */
#intro .banner-content {
  top: 30%;
  left: 300px;
  z-index: 3;
  width: 54%;
}

#intro .banner-content p {
  width: 85%;
}

#intro .social-links {
  top: 50%;
  right: 40px;
  bottom: 0;
}

#intro .social-links a:hover {
  text-decoration: underline;
  color: var(--light-color);
}

#intro .sub-banner-content {
  top: 16%;
}

@media only screen and (max-width: 1455px) {
  #intro .image-holder img {
    height: 910px;
    object-fit: cover;
  }

  #intro .banner-content {
    top: 20%;
    left: 100px;
    width: 55%;
  }
}

@media only screen and (max-width: 680px) {
  #intro .banner-content {
    left: 40px;
    width: 88%;
  }

  #intro h1.banner-title {
    font-size: 3em;
  }

  #intro .social-links {
    top: 850px;
    right: 0;
    bottom: 0;
    left: 0;
  }

}

@media only screen and (max-width: 1455px) {
  #intro .sub-banner-content {
    top: 36%;
  }
}


/* - About
------------------------------------------------------------- */
#about .container {
  max-width: 930px;
}

#about p {
  font-size: 1.2em;
}

/* - Services
------------------------------------------------------------- */
#services .image-holder img {
  width: 100%;
}

#services .icon-box svg {
  fill: var(--dark-color);
  width: 40px;
  height: 40px;
}

#services .detail {
  width: 60%;
}

@media only screen and (max-width: 1280px) {
  #services .detail {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  #services .detail {
    padding: 120px 0;
  }
}


/* - Pictures
------------------------------------------------------------- */
#pictures .swiper-wrapper {
  margin-bottom: 40px;
}

#pictures .swiper-arrow svg {
  top: 30%;
  padding: 18px;
  width: 60px;
  height: 60px;
  z-index: 3;
  background-color: var(--gray-color-100);
}

#pictures svg.icon-arrow-left {
  left: 4.5%;
  top: 49%;
}

#pictures svg.icon-arrow-right {
  right: 4%;
  top: 49%;
}

#pictures .swiper-arrow svg:hover {
  background-color: var(--gray-color-100);
}

/* - Table
------------------------------------------------------------- */
.table .thead-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.table tbody tr:hover 
{
	background-color: var(--primary-color);
}

/* - Contact
------------------------------------------------------------- */
#contact .contact-detail {
  width: 60%;
  padding: 70px 0;
}

.contact-detail textarea,
.contact-detail input {
  font-family: var(--heading-font);
  height: 36px;
  border-bottom: 1px solid var(--gray-color-200) !important;
}

.contact-detail textarea:focus,
.contact-detail input:focus {
  outline: none;
}

/* - Register
------------------------------------------------------------- */
#register input[type="text"] {
  width: 100%;
  height: 75px;
  border: 1px solid var(--gray-color-200) !important;
  background: transparent;
  border-radius: 35px;
  font-family: var(--heading-font);
}

#register .btn-register {
  top: 5px;
  right: 5px;
}

@media only screen and (max-width: 530px) {
  #register .btn-register {
    top: 83px;
    width: 100%;
  }

  #register .btn-register button {
    width: 100%;
  }
}

/* - Footer
------------------------------------------------------------- */
.footer-menu .social-links li {
  width: 54px;
  height: 54px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.footer-menu .social-links li:hover {
  background-color: var(--gray-color-200);
}

.payment-methods img {
  height: 24px;
}

/* - Modal
------------------------------------------------------------- */
.modal-header {
  background-color: var(--gray-color-100);
}

.modal .register {
  color: var(--primary-color);
}

.modal .register:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.modal .btn-close:focus {
  box-shadow: none;
}

/* - Register Form
------------------------------------------------------------- */
.dateSelect .customSelect:valid:focus {
  box-shadow: none;
  border-color: var(--dark-color);
}

/* - Profile Page
------------------------------------------------------------- */
.upload-pic:hover {
  cursor: pointer;
}

/* - Form
------------------------------------------------------------- */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--black-color);
  outline: 0;
  box-shadow: none;
}

/* - Checkbox
------------------------------------------------------------- */
.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-check-input:focus {
  border-color: var(--accent-color);
  outline: 0;
  box-shadow: none;
}